.navDesktop {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 999;
  background-image: linear-gradient(black, black, rgba(0, 0, 0, 0));
}
.navDesktop .link {
  display: block;
  padding: 0.2em 0.8em;
  font-size: 3.5em;
  transition-duration: 0.2s;
  cursor: pointer;
}
.navDesktop .link:hover {
  color: #ed2f24;
  transition-duration: 0.2s;
}
.navDesktop .link.active {
  margin-top: 30px;
  color: #ed2f24;
}

.navMobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  justify-content: center;
  align-items: center;
}
.navMobile .burger {
  cursor: pointer;
}
.navMobile .burger svg {
  fill: white;
}

.menuMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.menuMobile .logo {
  width: 50%;
}
.menuMobile .logo .img {
  width: 100%;
  height: auto;
}
.menuMobile .link {
  font-size: 2em;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}
.title h2 {
  font-size: 2em;
  color: white;
}

.socials {
  position: fixed;
  width: 100%;
  top: 10px;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.socials a {
  display: block;
  padding: 15px;
}
.socials svg {
  fill: white;
  transition-duration: 0.2s;
}
.socials a:hover svg {
  fill: #ed2f24;
  transition-duration: 0.2s;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo {
  width: 70%;
  margin: auto;
}
.header .logo .logoImg {
  width: 100%;
  height: auto;
}

.bio {
  width: 100%;
  min-height: 100vh;
  background-image: url(/img/bio.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.bio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.bio .content {
  position: relative;
  z-index: 2;
}
.bio .image {
  width: 200px;
  margin: auto;
}
.bio .image .img {
  width: 100%;
  height: auto;
}
.bio h2 {
  font-size: 3em;
  color: #ed2f24;
}
.bio ul {
  padding: 0;
  margin: 0;
}
.bio li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2em;
}
.bio .text {
  width: 80%;
  font-size: 1.2em;
  margin: 10px auto;
}
.bio .members {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.bio .member {
  font-size: 2em;
}
.bio .member .photo {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.shows {
  padding: 100px 0;
  min-height: 100vh;
  background-color: black;
}
.showsItem {
  display: flex;
  border-bottom: 2px solid white;
  padding: 10px 0;
  font-size: 2em;
  color: white;
}
.showsItem .left {
  width: 25%;
}
.showsItem .center {
  width: 50%;
}
.showsItem .right {
  width: 25%;
}

.music {
  background-color: black;
  padding: 100px 0;
  background-image: url(/img/music.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.music .players {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.contact {
  text-align: center;
  padding: 100px 0;
  background-color: black;
}
.contact a {
  font-size: 1.5em;
  transition-duration: 0.2s;
}
.contact a:hover {
  transition-duration: 0.2s;
  color: #ed2f24;
}

.header .logo svg {
  fill: white;
  width: 100%;
  transition-duration: 0.2s;
}
.header .logo:hover svg {
  fill: #ed2f24;
  width: 100%;
  transition-duration: 0.2s;
}

@media only screen and (max-width: 1000px) {
  .navDesktop {
    display: none;
  }
  .navMobile {
    display: flex;
  }
  .socials {
    display: none;
  }

  .header .logo {
    width: 80%;
  }

  .shows {
    padding: 60px 20px;
  }
  .showsItem {
    display: block;
    text-align: center;
    border-bottom: 2px solid white;
    padding: 10px 0;
    font-size: 2em;
    color: white;
    margin-bottom: 20px;
  }
  .showsItem .left {
    width: 100%;
  }
  .showsItem .center {
    width: 100%;
  }
  .showsItem .right {
    width: 100%;
  }

  .music {
    padding: 60px 20px;
  }
  .music .players {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
}
