.showsItem {
  display: flex;
  border-bottom: 2px solid white;
  padding: 10px 0;
  font-size: 2em;
  color: white;
}
.showsItem .left {
  width: 25%;
}
.showsItem .center {
  width: 25%;
}
.showsItem .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.showsItem .button {
  background-color: white;
  font-size: 12px;
  padding: 10px 20px;
  margin: 0 10px;
}
.showsItem .button a {
  font-size: 1.5em;
  color: black;
}

@media only screen and (max-width: 1000px) {
  .showsItem {
    display: block;
    border-bottom: 2px solid white;
    padding: 10px 0;
    font-size: 2em;
    color: white;
    text-align: center;
  }
  .showsItem .left {
    width: 100%;
  }
  .showsItem .center {
    width: 100%;
  }
  .showsItem .right {
    width: 100%;
  }
}
